<div class="container-fluid" >
    <div class="position-absolute top-0 start-50 translate-middle">
    Add Csv
    </div>
<br>
    <div class="row">
        <form #addForm="ngForm" (ngSubmit)="addUser(addForm.value)">
            <div class="container border border-2">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" #name="ngModel" required ngModel pattern="[a-zA-Z ]*">
              <span *ngIf="name.invalid && name.touched" class="alert alert-danger"> Enter valid name</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">State</label>
                <input type="text" class="form-control" name="state" #state="ngModel" ngModel>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Zip</label>
                <input type="text" class="form-control" name="zip" #zip="ngModel" ngModel maxlength="6">
                <span *ngIf="zip.invalid && zip.touched" class="alert alert-danger"> 6 digit only allowed</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Amount</label>
                <input type="text" class="form-control" name="amount" #amount="ngModel" ngModel pattern="[0-9]+">
                <span *ngIf="amount.invalid && amount.touched" class="alert alert-danger"> Number only allowed</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Qty</label>
                <input type="text" class="form-control" name="quantity" quantity="ngModel" ngModel required> 
            </div> 
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Item</label>
                <input type="text" class="form-control" name="itemval" itemval="ngModel" ngModel required >
                
            </div>
            <button type="submit" [disabled]="addForm.form.invalid" class="btn btn-success">Submit</button>
        </div>
          </form>
    </div>   
  </div>

